@model List<MVCNet6.Service.ViewModels.PeopleViewModel>
@{
    ViewData["Title"] = "Rookies Page";
}
<div class="text-center">
    <h1 class="display-4">Rookies List</h1>
    <div class="text-left mt-2 mb-3">
        <a class="btn btn-primary " role="button" asp-controller="People" asp-action="Add">
            Create New
            Person
        </a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Birth Place</th>
                <th scope="col">Actions</th>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <th scope="row"> <a asp-controller="People" asp-action="ViewDetail" asp-route-personid="@person.Id">@person.Id</a></th>
                    <td>
                        <a asp-controller="People" asp-action="ViewDetail" asp-route-personid="@person.Id">@person.FirstName</a>
                    </td>
                    <td>@person.LastName</td>
                    <td>@person.Gender</td>
                    <td>@person.DateOfBirth.ToString("dd/MM/yyyy")</td>
                    <td>@person.BirthPlace</td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-controller="People" asp-action="Edit"
                       asp-route-personid="@person.Id">Edit</a>
                        <a class="btn btn-danger btn-sm" role="button" data-toggle="modal"
                       data-target="#exampleModal_@person.Id">Delete</a>
                        <div class="modal fade" id="exampleModal_@person.Id" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <form asp-controller="People" asp-action="Delete" asp-route-personid="@person.Id"
                                      method="post">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are You Sure?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Confirm</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>