@model MVCNet6.Service.Requests.ViewDetailPeopleRequest
@{
    ViewData["Title"] = "Rookies Page";
    var value = ViewData["Index"]?.ToString() ?? "";
    var index = !string.IsNullOrEmpty(value) ? int.Parse(value) : 0;
}
<div>
    <h1 class="display-6 col-8 offset-2">View Person</h1>
    <form asp-controller="People" asp-action="ViewDetail" asp-route-index="@index" method="post" class="col-8 offset-2">
        <div class="form-group">
            <label asp-for="@Model.Id"></label>
            <input asp-for="@Model.Id" class="form-control" placeholder="" readonly>
            <span asp-validation-for="@Model.Id" class="form-text text-dangger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.FirstName"></label>
            <input asp-for="@Model.FirstName" class="form-control" placeholder="" readonly>
            <span asp-validation-for="@Model.FirstName" class="form-text text-dangger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.LastName"></label>
            <input asp-for="@Model.LastName" class="form-control" placeholder="" readonly>
            <span asp-validation-for="@Model.LastName" class="form-text text-dangger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class=" form-control" placeholder="" readonly>
            <span asp-validation-for="PhoneNumber" class="form-text text-dangger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.BirthPlace"></label>
            <input asp-for="@Model.BirthPlace" class="form-control" placeholder="" readonly>
            <span asp-validation-for="@Model.BirthPlace" class="form-text text-dangger"></span>
        </div>

        <a class="btn btn-danger" href="#" role="button" data-toggle="modal"
           data-target="#exampleModal">Delete</a>
        <button type="submit" class="btn btn-secondary mt-2" asp-action="Index">Back To List</button>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="People" asp-action="DeleteAndRedirectToResultView" asp-route-personid="@Model.Id"
                  method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>